.travel-header {
  position: relative;
  background: #ccc;
  width: 100%;
  height: 100px;
  height: 220px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.travel-title {
  position: relative;
  z-index: 4;
  color: #fff;
  font-size: 32px;
}
.travel-header_bg {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
}

.travel-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.travel-content {
  display: flex;
  flex-direction: row;
  padding: 15px 30px;
  background: #fff;
}
.info-togo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
}
.info-togo h2{
  color: #ccc
}
.container-travel-time {
  margin: 7px 0;
  border: 0px solid #ccc;
}
.ico-travel-content {
  width: 30px;
  margin-right: 10px;
}

.departure-data,
.arrival-data {
  font-size: 18px;
}
.vacancy_amount{
  border: 1px solid #ccc;
  border-width: 1px 0 0 0;
  padding: 25px 0;
}

.travel_passenger {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  border: 1px solid #ccc;
  border-width: 1px 0 0 0;
  align-items: center;
}

.vacancy_status {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.vacancy_status span:first-child {
  font-size: 18px;
}
.vacancy_status span:lastchild {
  font-size: 18px;
}
.vacancy_link_modal {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

.travel_organizer {
  display: flex;
  border: 1px solid #ccc;
  border-width: 1px 0 0 0;
  padding: 25px 0;
}

.ico_link_modal {
  transform: rotate(180deg);
  width: 24px;
}

.organizer_img {
  width: 50px;
  margin-right: 10px;
}

img.organizer_star {
  width: 20px;
}

img.ico_organizer_phone,
img.ico_organizer_chat {
  width: 20px;
}

.organizer_contact {
  width: 10%;
  display: flex;
  justify-content: flex-end;
}

span.type_text {
  display: block;
  font-size: 32px;
  margin-top: -10px;
}

.organizer_data {
  display: flex;
  flex-direction: column;
  width: 80%
}

.travel_type{
  border: 1px solid #ccc;
  border-width: 1px 0 0 0;
  padding: 25px 0;
}

.travel_value{
  border: 1px solid #ccc;
  border-width: 1px 0 0 0;
  padding: 15px 0
}
.travel_value ul {
  margin-left: 20px;
  list-style: disc;
}
.value_text{
  display: block;
}

span.value_value {
  font-size: 32px;
  margin-top: -10px;
  display: block;
}

.travel_footer{
  background: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn-passager_action img {
  width: 70px;
}

ul.passager_list li {
  display: flex;
  margin: 25px 0;
}

.btn-passager_action {
  display: flex;
  flex-direction: column;
  width: 70px;
  font-size: 11px;
  justify-content: center;
  text-align: center;
}

.passager_actions {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.passager_status{
  border: 0px solid #ccc;
  padding: 6px 0;
  border-width: 0 0 1px 0;
}

.passager_status p span:first-child {
  font-size: 24px;
  margin-right: 10px;
  font-weight: bolder;
}

.passenger_img {
  width: 35px;
  margin-right: 15px;
}

.passenger_data {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.passenger_data span:last-child{
  font-size: 21px;
  margin-top: -5px
}

.ico_passenger_phone{
  width: 25px
}

.ico_passenger_chat{
  width: 25px
}

.ico_passenger_delete{
  width: 25px
}

.passenger_contact {
  min-width: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.info_amount p span:first-child{
  font-size: 32px;
  margin-right: 7px;
  font-weight: bold;
}

.info_detail-amout p span:first-child{
  font-size: 32px;
  margin-right: 7px;
}

.info_amount {
  margin-bottom: 35px;
}

.info_total{
  border: 1px solid #ccc;
  border-width: 1px 0 0 0;
}


.info_total p span:last-child{
  font-size: 32px;
  margin-right: 7px;
}

.btn_participate {
  width: 80%;
  max-width: 420px;
  border: 0;
  padding: 15px;
  border-radius: 5px;
  background: #EA1D2C;
  font-size: 18px;
}

span.vacancy_numbers {
  font-size: 32px;
  margin-right: 7px;
  font-weight: bold;
  color: #777;
}

/* Sobrecarga no ANTD */
.ant-tabs .ant-tabs-small-bar .ant-tabs-tab {
  padding: 8px!important;
}
.ant-tabs-nav-scroll {
  text-align: center!important;
}
/* Responsividade */
@media(max-width: 420px){
  .travel-content{
    padding: 25px 10px;
  }
}

